@import '../../../assets/styles/vars';

.full-modal {
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 15px;
  transition: opacity 400ms ease;
  pointer-events: none;
  overflow: hidden;
  z-index: 100000;
  opacity: 0;

  .modal-content {
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transform: scale(1.1);
    transition: transform 300ms ease;
    height: calc(100vh - 30px);
    position: relative;
    overflow: hidden;

    button.close {
      position: absolute;
      top: 20px;
      right: 20px;
      height: 30px;
      width: 30px;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #808080;
      font-weight: bold;
      font-size: 16px;
      border-radius: 6px;
      transition: background-color 200ms ease;
      z-index: 1000;
      &:hover {
        background-color: #F3F3F3;
      }
    }
  }

  &.shown {
    pointer-events: initial;
    opacity: 1;

    .modal-content {
      transform: scale(1);
    }
  }
}
