.text-area {
  min-height: 36px;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 6px;
  appearance: none;
  outline: none;
  padding: 9px 15px;
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
  resize: none;

  &.fill {
    width: 100%;
    height: calc(100vh - 240px);
  }
}
