@import '../../assets/styles/vars';

.task-page {
  .os-scrollbar {
    &.os-scrollbar-vertical {
      top: 53px;
      bottom: 31px;
    }
    &.os-scrollbar-horizontal {
      background-color: #fff;
      border-top: 1px solid #E6E6E6;
      padding: 15px 10px;
      right: 0;

      .os-scrollbar-handle {
        &::before {
          border-radius: 10px;
          background-color: #D4D4D4;
          top: -4px;
          bottom: -5px;
        }
      }

      &::before {
        content: "";
        height: 15px;
        width: 100%;
        bottom: 100%;
        background-image: url('../../assets/images/overflow-shadow.png');
        transform: scaleY(-1);
        position: absolute;
        left: 0;
      }
    }
  }

  .task-table:not(.x-can-scroll) table.floating-header-table tbody tr:last-child td {
    padding-bottom: 0;
  }
}
