
.after {
  &::after {
    content: '';
    left: 0;
    background-image: url('../../../assets/images/overflow-shadow.png');
    background-repeat: repeat-x;
    pointer-events: none;
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    z-index: 99;
  }
}
.after-alt {
  &::after {
    content: '';
    left: 0;
    background-image: url('../../../assets/images/overflow-shadow.png');
    transform: scaleY(-1);
    background-repeat: repeat-x;
    pointer-events: none;
    height: 15px;
    width: 100%;
    position: absolute;
    top: -15px;
    z-index: 99;
  }
}


.groups {
  border-right: 1px solid #E6E6E6;
  .top {
    height: 53px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    padding: 9px;
    @extend .after;
    button {
      width: 100%;
    }
  }

  .bottom {
    height: 53px;
    border-top: 1px solid #E6E6E6;
    position: relative;
    padding: 9px;
    @extend .after-alt;
    button {
      width: 100%;
    }
  }

  .context {
    position: absolute;
    bottom: -199px;
    left: 0;
    transition: bottom 300ms ease;
    width: 100%;
    padding: 9px;
    background-color: #fff;
    border-top: 1px solid #E6E6E6;
    z-index: 100;
    @extend .after-alt;
    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 9px;
    }
    input {
      width: 100%;
      margin-bottom: 9px;
      border: none;
      outline: none;
      background-color: #fff;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      padding-bottom: 9px;
      border-bottom: 1px solid #E6E6E6;
    }
    &.shown {
      bottom: 0;
    }
  }

  .group-list {
    padding: 12px;
    position: relative;
    height: calc(100vh - 215px);
    overflow: auto;
  }

  .group {
    display: block;
    background: #fff;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: box-shadow 200ms ease;

    h3 {
      padding: 15px 20px;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #808080;
      position: relative;
      z-index: 2;
      transition: color 200ms ease, padding 200ms ease;
    }

    .meta {
      background: #E6E6E6;
      border-radius: 9px;
      padding: 7px 20px;
      position: relative;
      z-index: 2;
      transition: background 200ms ease;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #808080;
        transition: color 200ms ease;
      }

      .actions {
        display: none;
        button {
          background-color: transparent;
          outline: none;
          border: none;
          width: 10px;
          cursor: pointer;

          svg {
            opacity: .8;
            transition: opacity 200ms ease;
          }
          &:hover {
            svg {
              opacity: 1;
            }
          }
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(115.06deg, #16407F -52.21%, #060E35 84.07%), linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
      opacity: 0;
      transition: opacity 200ms ease;
    }

    &.active {
      cursor: initial;
      box-shadow: 0 4px 15px rgba(22, 64, 127, 0.25);

      &::after {
        opacity: 1;
      }

      h3 {
        color: #fff;
        padding: 15px 20px;
      }

      .meta {
        background: rgba(255, 255, 255, .1);

        span {
          color: rgba(255, 255, 255, .8);
        }

        .actions {
          display: inline-block;
        }
      }
    }
  }
}
