
.after {
  &::after {
    content: '';
    left: 0;
    background-image: url('../../../assets/images/overflow-shadow.png');
    background-repeat: repeat-x;
    pointer-events: none;
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    z-index: 99;
  }
}
.after-alt {
  &::after {
    content: '';
    left: 0;
    background-image: url('../../../assets/images/overflow-shadow.png');
    transform: scaleY(-1);
    background-repeat: repeat-x;
    pointer-events: none;
    height: 15px;
    width: 100%;
    position: absolute;
    top: -15px;
    z-index: 99;
  }
}


.groups {
  border-right: 1px solid #E6E6E6;
  .top {
    height: 53px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    padding: 9px;
    @extend .after;
    button {
      width: 100%;
    }
  }

  .bottom {
    height: 53px;
    border-top: 1px solid #E6E6E6;
    position: relative;
    padding: 9px;
    @extend .after-alt;
    button {
      width: 100%;
    }
  }

  .context {
    position: absolute;
    bottom: -199px;
    left: 0;
    transition: bottom 300ms ease;
    width: 100%;
    padding: 9px;
    background-color: #fff;
    border-top: 1px solid #E6E6E6;
    z-index: 100;
    @extend .after-alt;
    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 9px;
    }
    input {
      width: 100%;
      margin-bottom: 9px;
      border: none;
      outline: none;
      background-color: #fff;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      padding-bottom: 9px;
      border-bottom: 1px solid #E6E6E6;
    }
    &.shown {
      bottom: 0;
    }
  }

  .group-list {
    padding: 12px;
    position: relative;
    height: calc(100vh - 215px);
    overflow: auto;
  }
}
