@import '../../../assets/styles/vars';

.notification-panel {
  position: relative;

  .bell-button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    .bell {
      transition: fill 200ms ease;
    }

    circle {
      transition: fill 200ms ease, opacity 200ms ease;
    }

    &.no-notifications {
      circle {
        opacity: 0;
      }
    }

    &:hover {
      .bell {
        fill: #16407F;
      }
    }
  }

  .notification-drop {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    background: #FFFFFF;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 16px;
    width: 400px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: transform 200ms ease, opacity 200ms ease;
    z-index: 99999;

    &.shown {
      opacity: 1;
      pointer-events: initial;
      transform: translateY(0);
    }

    .head {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 15px;

      button.heading-button {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 0;
        margin-bottom: 1px;
        transition: opacity 200ms ease;
        &:hover {
          opacity: .6;
        }
      }

      h2 {
        font-weight: $fw-bold;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
      }
    }

    .list {
      height: 300px;
      overflow-y: auto;
      padding-right: 15px;
    }

    .notification {
      display: flex;
      align-items: center;
      flex-direction: row;
      .meta {
        flex: 1;
        margin-left: 13px;

        h3 {
          font-style: normal;
          font-weight: $fw-bold;
          font-size: 14px;
          line-height: 17px;
        }

        p {
          font-size: 10px;
          line-height: 12px;
          color: #808080;
        }
      }

      svg {
        height: 35px;
        width: 35px;
      }

      &:not(:last-child){
        margin-bottom: 8px;
      }
    }

    &::before {}

  }
}
